@charset "UTF-8";
 /* declaracões gerais*/
 * {
    margin: 0px;
    padding: 0pxd;
}

html ,body {
    width: 100vw;
    height: 100vh;
    background-color: #aeb3dd;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    text-shadow: 3px 3px 0px #1526a7;
}
/*declaraçao retrato*/
@media screen and (orientation: portrait){
    body {
    background: url(../imagens/cev-portrait.jpg) ;
    background-position: center bottom;
    }
}
/*declaraçao paisagem*/
@media  screen and (orientation: landscape){
    body {
    background: url(../imagens/cev-landscape.jpg) no-repeat;
    background-position: left bottom;
    }
}